:root{--red:#f94144 ;
  --orange: #f9844a;
  --seagreen: #43aa8b;
  --gold: #f9c74f;
  --blue: #577590;
}

* {
box-sizing:border-box;
/* width: 100%; */
/* display: flex;
justify-content: center; */

}

body {
  position: absolute;
  margin: 0;
  /* padding: 10px;
  margin: 10px; */
  background-color: rgb(245, 250, 240);
}
#test{
  text-align: center;
  width: 100%;
}
h1 {
  font-family: "Indie Flower", cursive;
  font-size: 65px;
  color: black;
  text-shadow: 1px 1px 2px #0a0a0a;
  text-align: center;
}

.description {
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
  text-align: center;
 }

.jokeContainer {
  height: 25%;
  width: 70%;
  display: block;
  margin-left:auto;
  margin-right:auto;
  float :none;
  border: 2px solid gray;
}

.jokeContainer:hover {
    background: #e1e1e1;
    box-shadow: 0 0 0 2px #d0d0d0;
}

#testJokeHolder {
  padding-top: 10px;
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

#testJokeHolder2 {
  padding-top: 5px;
  height: auto;
  width: auto;
}

img {
  max-height: 250px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

img:hover {
    background: #e1e1e1;
    box-shadow: 0 0 0 5px #90be6d;
}


#gifContainer {
  height: 300px; 
}

.wrapper {
padding: 0;
margin: 0 auto;
width: 1000px;
margin-left:auto;
margin-right:auto;
float :none;
}

.btnContainer{
margin: 0 auto;
display: block;
}

.testBtn {
  padding: 5px;
  margin: 10px;
  border: 1px black solid;
  border-radius: 3px;
}

#misc {
  background-color: var(--blue);
  border-radius: 12px;
}

#christmas{
  background-color: var(--red);
  border-radius: 12px;
}

#programming {
  background-color: var(--seagreen);
  border-radius: 12px;
  color:black;
}

#pun{
  background-color: lightcoral;
  border-radius: 12px;
}

#spooky{
  background-color:var(--orange);
  color:black;
  border-radius: 12px;
}

#lucky{
  background-color: var(--gold);
  border-radius: 12px;
  color:black;
}

.hidden {
  display: none;
}


#fav-jokes-LS {
    background-color:#90be6d;
    border-radius: 50%;
    padding: 12px 22px;
    border: 1px solid black;
}

#fav-gifs-LS {
    background-color:#90be6d;
    border-radius: 50%;
    padding: 12px 22px;
    margin-left: 50px;
    border: 1px solid black;
}


#saved-gif{
    background-color:#277da1;
    border-radius: 12px;
    padding: 12px 22px;
    border: 1px solid black;
    color:white;
}

#saved-joke{
    background-color:#277da1;
    border-radius: 12px;
    padding: 12px 22px;
    border: 1px solid black;
    color: white;
}

#reset{
    background-color:#277da1;
    border-radius: 12px;
    padding: 12px 22px;
    border: 1px solid black;
    color: white;
}